<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zhanbozhang.test">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_ROUTING"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="Main"></activity>

        <activity android:name=".TestLayout" android:theme="@style/MmsTheme">
        </activity>

        <activity android:name=".ScreenInfoActivity" android:label="ScreenInfo"></activity>

        <activity android:name=".ActivityMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".answer.AnswerActivity" android:label="InCall">
        </activity>

        <activity android:name=".TestAODActivity" android:icon="@drawable/wechat" android:label="AOD">
        </activity>

        <activity android:name=".TestHollowView" android:icon="@drawable/qq" android:label="Hollow" />

        <activity
            android:name=".RichTextActivity"
            android:theme="@style/MmsTheme"
            android:label="Rich Text">
        </activity>

        <activity android:name=".MessageActivity" android:label="Message">
        </activity>

        <!--<activity-alias
            android:name=".AnotherActivity"
            android:icon="@mipmap/ic_launcher_round"
            android:targetActivity=".answer.AnswerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>-->

        <activity android:name=".youxi.YouxiActivity" android:label="Youxi"></activity>

        <activity android:name=".preference.TestPreferenceActivity" android:label="Test Preference"></activity>

        <activity
            android:name=".GradientActivity"
            android:theme="@style/AnswerTheme"
            android:label="Gradient">
        </activity>

        <activity
            android:name=".gamemode.GameLauncherActivity"
            android:excludeFromRecents="true"
            android:label="Game Launcher">
        </activity>

        <service
            android:name=".DayDreamServices"
            android:exported="true"
            android:label="testDayDream"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            android:roundIcon="@mipmap/ic_launcher_round">

            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_config" />
        </service>

        <service android:name=".services.AutoRebootService" />

        <service android:name=".acceleration.PhoneStableStateServices" />

        <service android:name=".services.InCallServiceImpl" />

        <receiver android:name=".receiver.SecretCodeReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="12345"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <receiver android:name=".receiver.MediaButtonReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="com.android.eli.contacts"
            android:name=".services.PrivateContactsProvider" />

        <service android:name=".aidl.MyAidlService"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.test.aild.service" />
            </intent-filter>
        </service>

    </application>

</manifest>